<div class="container">
    <h2 style="text-align: center;">Employees List:</h2>
    <div *ngFor ="let item of listOfEmployees;">
      <br>
      <div class="row">
        <div class="col-xs-3" style="font-size: 24px;">ID:</div>
        <div class="col-xs-9" style="font-size: 24px;">{{ item.id }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="font-size: 24px;">Name:</div>
        <div *ngIf ="!item.isEditedOn" class="col-xs-9" style="font-size: 24px;">{{ item.name }}</div>
        <div *ngIf = "item.isEditedOn">
          <input type= "text" id="nameEdit" value="{{item.name}}">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="font-size: 24px;">Age:</div>
        <div *ngIf ="!item.isEditedOn" class="col-xs-9" style="font-size: 24px;">{{ item.age }}</div>
        <div *ngIf = "item.isEditedOn">
          <input type= "text" id="ageEdit" value="{{item.age}}">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3" style="font-size: 24px;">DOB:</div>
        <div *ngIf ="!item.isEditedOn" class="col-xs-9" style="font-size: 24px;">{{ item.dob }}</div>
        <div *ngIf = "item.isEditedOn">
          <input type= "date" id="dobEdit" value="{{item.dob}}">
        </div>
      </div>
      <br>
      <div *ngIf = "!item.isEditedOn">
      <button type="button" class="btn" style="margin-right: 20px;" (click) ="editFunc(item)">Edit</button>
      <button type="button" class="btn" (click) ="deleteFunc(item)">Delete</button>
      </div>
      <div *ngIf ="item.isEditedOn">
        <button type="button" class="btn" (click) ="doneEdited(item)">Done Edited</button>
      </div>

    </div>
</div>
