@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
}

.main-container {
  background-color: #404040;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('bg.jpg');
}

.container {
  background-color: #d5d5d5;
  padding: 30px;
  border-radius: 30px;
  border: 2px solid #9b59b6;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

img {
  position: absolute;
  width: 100%;
}

input[type='text'],
input[type='email'],
select {
  display: block;
  margin: 30px 0px;
  width: 300px;

  outline: none;
  opacity: 0.8;
  border: 2px solid white;
  padding: 10px 15px;
  font-size: 18px;
  border: 1.5px solid #2980b9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

input[type='text']:focus,
input[type='email']:focus,
select:focus {
  transition: 0.2s ease;
  opacity: 1;
  border-width: 2px;
  border-color: #27ae60;
}

select {
  box-sizing: content-box;
}

.age {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 18px;
}

.s-age {
  font-size: 20px;
  margin-bottom: 20px;
}
input[type='radio'] {
  display: inline-block;
}

button {
  display: block;
  background-color: #2980b9;
  color: #fff;
  font-size: 1.4em;
  outline: none;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 30px auto 0px auto;
  cursor: pointer;
}

button:hover {
  transition: 0.2s ease;
  background-color: #27ae60;
}
