.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 93vh;
    border: 10px solid goldenrod;
    align-content: space-around;
    margin:11px;
}

.box{
    background: white;
    font-size: 95px;
    text-align: center;
    flex-grow: 1;
    padding: 2%;
    width: 6%;
    color: purple;
    
}

.buttons
{
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
      margin: 10px; 
}

