<!--<p>
    <label> Name</label>
    <input type="text" [formControl]="name">
</p>
{{name.value}}-->

<form style="text-align: left; margin:20px;" [formGroup]="EmployeeDetails"> 
    <div formArrayName="EmployeeArray">
    <p style="margin-left:30%;"> 
        <label >
            <h3>Employee Name:</h3>
        </label>
        <input type="text" size=30 formControlName="EmployeeName" required>
    </p>

    <p style="margin-left:30%;">
        <label>
            <h3>Employee ID:</h3>
        </label>
        <input type="text" size=30 formControlName="EmployeeID" required>
    </p>

    <p style="margin-left:30%;">
        <label>
            <h3>Employee Age:</h3>
        </label>
        <input type="text" size=30 formControlName="EmployeeAge" required>
    </p>

    <p style="margin-left:30%;">
        <label>
           <h3> Employee DOB:</h3>
        </label>
        <input type="text" size=30 formControlName="EmployeeDOB" required>
    </p>
    <p style="margin-left:30%;">
        <label>&nbsp;</label>
        <button style="background-color: green;" type="submit" (click)="onSubmit()">Submit</button>
    </p>
    </div>
    
</form>
<p class="nav-item">
    <a class="nav-link" routerLink="showAll">Show All Employees</a>
</p>

