#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}

#btn:hover{
    transform:scale(1.2,1.2) translate3d(0,0,0);
}

.alignCenter{
    display: flex;
    justify-content: center;
}