<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="EmployeeBean" class="com.au.spring.Employee">
    <property name="person">
        <map>
            <entry key="PointA" value-ref="PointA"/>
            <entry key="PointB" value-ref="PointB"/>
            <entry key="PointC" value-ref="PointC"/>

        </map>
    </property>
</bean>
  <!-- <bean id="triangle" class="com.au.spring.Triangle">
    <property name="points">
    <list>
         <ref bean = "PointA"/>
         <ref bean = "PointB"/>
         <ref bean = "PointC"/>       
    </list>
    </property>
    <property name="PointA" ref="PointA"/>
    <property name="PointB" ref="PointB"/>
    <property name="PointC" ref="PointC"/>
  </bean> -->
  
  <bean id="PointA" class="com.au.spring.Person">
    <property name="name" value="Simran"/>
    <property name="address" value="HauzKhas Delhi"/>
    <property name="id" value="1001"/>
  </bean>
  
  <bean id="PointB" class="com.au.spring.Person">
    <property name="name" value="Honey"/>
    <property name="address" value="Saket Delhi"/>
    <property name="id" value="1002"/>
  </bean>
  <bean id="PointC" class="com.au.spring.Person">
    <property name="name" value="Shini"/>
    <property name="address" value="INA Delhi"/>
    <property name="id" value="1003"/>
  </bean>
</beans>