<h1 class="text-capitalize text-center pt-5 ">Employees</h1>
<hr class="w-25 pt-5 mx-auto" style="border-color: black">

<table class="table table-bordered">
<thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let emp of employees">
    <td>{{emp.empId}}</td>
    <td>{{emp.empName}}</td>
    <td>{{emp.empAge}}</td>
    <td>{{emp.empDob | date:"dd-MM-yyyy"}}</td>
    <td><button class="btn btn-primary" (click)="onEdit(emp.empId)">Edit</button></td>
    <td><button class="btn btn-danger" (click)="onDelete(emp.empId)">Delete</button></td>
  </tr>
</tbody>
</table>
