<div>
  <h1>List of Employees</h1>

  <ul *ngFor="let employee of employeeList; let i = index">
    <li>
      <div>
        <label>Name : </label>
        <span> {{ employee.name }}</span>
      </div>
      <div>
        <label>Id : </label>
        <span> {{ employee.id }}</span>
      </div>
      <div>
        <label>Age : </label>
        <span> {{ employee.age }}</span>
      </div>
      <div>
        <label> Date of Birth : </label>
        <span> {{ employee.dob }}</span>
      </div>
      <div>
        <button (click)="deleteItem(i)" class="btn">
          <i class="fa fa-trash"></i> Delete
        </button>
        <button (click)="redirectToEdit(i)" class="btn">
          <i class="fa fa-edit"></i> Edit
        </button>
      </div>
    </li>
  </ul>
</div>
