
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h3>Employee List</h3>

        <ul *ngFor = "let employee of employeeList; let i = index">
            <li>
                <div>
                    <label>Employee Name : </label>
                    <span> {{employee.name}}</span>
                </div>
                <div>
                    <label>Employee Id : </label>
                    <span> {{employee.id}}</span>
                </div>
                <div>
                    <label>Employee Age : </label>
                    <span> {{employee.age}}</span>
                </div>
                <div>
                    <label>Employee DOB : </label>
                    <span> {{employee.dob}}</span>
                </div>
                <div>
                    <button (click) = "deleteItem(i)" style="margin-right: 16px" class="btn"> Delete</button>
                    <button (click) = "redirectToEdit(i)" class="btn" style="margin-right: 16px">Change/Edit</button>
                </div>
                
            </li>
        </ul>
    </body>
</html>